### part 1

kalau kemarin kita bermain - main dengan dataframe, sekarang akan bermain dengan list. Yup, list ini sering banget digunain juga dalam analisis data. mungkin saya sharing materi mengenai listnya hanya sedikit saja

In [6]:
list1 = ['saya' , 'suka', 'buah', 'apel']

print(list1)
print(type(list1))
print(len(list1))

['saya', 'suka', 'buah', 'apel']
<class 'list'>
4

list tersebut memiliki 4 elemen data, yang dimulai dengan index 0

In [7]:
# misal data ke-3, maka untuk mengambil datanya menggunakan indeks ke-2
print(list1[2])

buah

untuk mengganti elemen/data pada list, dapat menggunakan cara berikut :

In [8]:
list1[3] = 'manggis'
print(list1)

['saya', 'suka', 'buah', 'manggis']

antara list 1 dan yang lainnya dapat dijumlahkan atau digabungkan, seperti berikut :

In [13]:
list2 = ['adik', 'suka', 'buah', 'pisang']

print(list1 + list2)

['saya', 'suka', 'buah', 'manggis', 'adik', 'suka', 'buah', 'pisang']