### part 1

kalau kemarin kita bermain - main dengan dataframe, sekarang akan bermain dengan list. Yup, list ini sering banget digunain juga dalam analisis data. mungkin saya sharing materi mengenai listnya hanya sedikit saja

In [6]:
list1 = ['saya' , 'suka', 'buah', 'apel']

print(list1)
print(type(list1))
print(len(list1))

['saya', 'suka', 'buah', 'apel']
<class 'list'>
4

list tersebut memiliki 4 elemen data, yang dimulai dengan index 0

In [7]:
# misal data ke-3, maka untuk mengambil datanya menggunakan indeks ke-2
print(list1[2])

buah

untuk mengganti elemen/data pada list, dapat menggunakan cara berikut :

In [8]:
list1[3] = 'manggis'
print(list1)

['saya', 'suka', 'buah', 'manggis']

antara list 1 dan yang lainnya dapat dijumlahkan atau digabungkan, seperti berikut :

In [13]:
list2 = ['adik', 'suka', 'buah', 'pisang']

print(list1 + list2)

['saya', 'suka', 'buah', 'manggis', 'adik', 'suka', 'buah', 'pisang']

### part 2

kemudian, salah satu method yang penting dalam list yang suka digunakan terutama saat melakukan looping adalah .append(), fungsinya dia menyimpan hasil tersebut ke dalam suatu variabel dalam bentuk list kosong

In [24]:
# tanpa append
data1 = [1,2,3,4,5,6,7,8,9]
for i, j in enumerate(data1):
    print('{}. pangkat duanya adalah {}'.format(j, (i+1)**2))

1. pangkat duanya adalah 1
2. pangkat duanya adalah 4
3. pangkat duanya adalah 9
4. pangkat duanya adalah 16
5. pangkat duanya adalah 25
6. pangkat duanya adalah 36
7. pangkat duanya adalah 49
8. pangkat duanya adalah 64
9. pangkat duanya adalah 81

In [26]:
# dengan append
data1 = [1,2,3,4,5,6,7,8,9]

# membuat list kosong
data2 = []
for i in data1:
    hasil = i**2
    data2.append(hasil)
    
print('pangkat duanya adalah {}'.format(data2))

pangkat duanya adalah [1, 4, 9, 16, 25, 36, 49, 64, 81]

append ini sangat berguna untuk data yang skalanya sangat besar

### part 3

selanjutnya, list juga dapat diinisialkan ke dalam variabel tertentu, seperti :

In [2]:
nama_buah = ['apel', 'jeruk', 'melon', 'anggur', 'semangka']

a, j, m, *yang_lain = nama_buah

print(a)
print(j)
print(m)
print(yang_lain)

apel
jeruk
melon
['anggur', 'semangka']

kemudian ada cara untuk menyatukan list yang terpisah, misal :

In [1]:
warna = [['merah', 'putih'], ['hijau', 'biru'], ['putih', 'merah']]
print('warna : {}'.format(warna))

# menggunakan list comprehension
warna_1 = [i for j in warna for i in j]
print('warna1 : {}'.format(warna_1))

# menggunakan looping
warna_2 = []
for i in warna:
    warna_2.extend(i)
    
print('warna2 : {}'.format(warna_2))

warna : [['merah', 'putih'], ['hijau', 'biru'], ['putih', 'merah']]
warna1 : ['merah', 'putih', 'hijau', 'biru', 'putih', 'merah']
warna2 : ['merah', 'putih', 'hijau', 'biru', 'putih', 'merah']

## part 4

oh iya, list juga dapat melakukan filtering data ya, berikut adalah contohnya :

In [1]:
nilai = [80,78,98,68,45,87,85,88,80,81,90,99,93,90,70,75,74,77]

# misal filter nilai yang lebih dari 80
filter_nilai = [i for i in nilai if i > 80]
print(filter_nilai)

[98, 87, 85, 88, 81, 90, 99, 93, 90]

dalam hal ini, huruf i dapat diganti oleh huruf atau kata yang lain, selama penempatannya konsisten, maka tidak akan terjadi error

kemudian, apabila ingin mengkombinasikan dua buah list atau lebih, dapat menggunakan fungsi **zip()**

In [3]:
l1 = ['a', 'b', 'c', 'd']
l2 = [1,2,3,4]

l3 = zip(l1,l2)
print(list(l3))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

apabila ingin tahu count yang paling banyak dalam suatu list, maka dapat menggunakan fungsi berikut :

In [11]:
coin = ['tails', 'tails', 'heads', 'heads', 'tails', 'heads', 'heads', 'tails', 'heads', 'tails']
items = set(coin)
print('maka kejadian yang paling banyak muncul adalah : {}'.format(max(items, key = coin.count)))

maka kejadian yang paling banyak muncul adalah : heads

## part 5

dalam list juga dapat meremove data duplikat lhoo, begini caranya :

In [1]:
list5 = [1,2,3,3,4,5,6,7,8,9,10]

# terdapat data duplikat, yaitu nilai 4

# menghapus data duplikat
print(list(dict.fromkeys(list5)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

untuk menemukan data duplikatnya, dapat digunakan sintak berikut :

In [5]:
# contoh 1
ll1 = [1,2,3,4,4,5,5,6,1]
ll2 = list(set([x for x in ll1 if ll1.count(x) > 1]))

print(ll2)

[1, 4, 5]

In [7]:
# contoh 2
l3 = ['aku', 'aku', 'dapat', 'terbang', 'tinggi']
l4 = list(set([i for i in l3 if l3.count(i) > 1]))

print(l4)

['aku']

dapat dilihat bahwa duplikat data dapat terjadi pada data teks ataupun numerik. huruf x pada list comprehension dapat diubah menjadi huruf lain, misalnya huruf i