yoo, setelah sharing mengenai dataframe dan list, selanjutnya saya akan sharing mengenai dictionary. seperti namanya, dalam dictionary terdapat yang namanya key dan value, biasanya bentuknya seperti ini **{'key' : 'value'}**. dictionary sering dijumpai dalam file json, apa itu file json ? materinya bisa kalian baca [disini](https://towardsdatascience.com/json-objects-in-python-f45e04281c30). oke kita langsung mulai saja

## part 1

In [8]:
# contoh cara membuat dictionary
dict1 = {
     "album_title" : "Yellow Submarine",     
     "release_year" : 1966,   
     "won_grammy" : False,
     "band" : "The Beatles",
     "album_sale": 'Null',
     "musicians" : ["John Lennon", "Paul McCartney", "George   Harrison", "Ringo Starr"],
     "studio" : {"studio_name": "Abbey Road Studios", "location": "London, England"}}

display(dict1)
print(type(dict1))

{'album_title': 'Yellow Submarine',
 'release_year': 1966,
 'won_grammy': False,
 'band': 'The Beatles',
 'album_sale': 'Null',
 'musicians': ['John Lennon',
  'Paul McCartney',
  'George   Harrison',
  'Ringo Starr'],
 'studio': {'studio_name': 'Abbey Road Studios',
  'location': 'London, England'}}

<class 'dict'>

untuk mengambil key pada dictionary, dapat dilakukan sebagai berikut :

In [10]:
print(dict1.keys())

dict_keys(['album_title', 'release_year', 'won_grammy', 'band', 'album_sale', 'musicians', 'studio'])

dan untuk mengambil nilai valuenya, dapat dilakukan sebagai berikut :

In [11]:
print(dict1.values())

dict_values(['Yellow Submarine', 1966, False, 'The Beatles', 'Null', ['John Lennon', 'Paul McCartney', 'George   Harrison', 'Ringo Starr'], {'studio_name': 'Abbey Road Studios', 'location': 'London, England'}])

kemudian apabila ingin mengambil value yang spesifik, dapat dilakukan dengan menggunakan method .get(), sebagai berikut :

In [13]:
# misal ingin mengambil value dari key = studio
print(dict1.get('studio'))

{'studio_name': 'Abbey Road Studios', 'location': 'London, England'}

kalau kita lihat, terdapat dictionary dalam dictionary, untuk mengakses keynya, dapat dilakukan menggunakan stack method .get()

In [16]:
# misal ingin mengambil value dari key = studio, dan ingin mengambil value dari key = studio name
print(dict1.get('studio').get('studio_name'))

Abbey Road Studios

## part 2

dictionary juga dapat di-merge lhoo, caranya gini :

In [9]:
a = {'nama' : ['ipul', 'stefa', 'coco', 'angel', 'dimas']}
b = {'nilai' : [85, 87, 89, 90, 88]}

# menggunakan metode **kwargs
c = {**a, **b}
print(c)

{'nama': ['ipul', 'stefa', 'coco', 'angel', 'dimas'], 'nilai': [85, 87, 89, 90, 88]}

jangan lupa, urutan penempatan variabelnya mempengaruhi yaa, misal :

In [7]:
c1 = {**b, **a}
print(c1)

{'nilai': [85, 87, 89, 90, 88], 'nama': ['ipul', 'stefa', 'coco', 'angel', 'dimas']}

In [33]:
# menggunakan operator plus (+)
d1={'a':1,'b':2}
d2={'c':3,'b':9999}

d3 = dict(list(d1.items()) + list(d2.items()))
print('menggunakan operator + : {}'.format(d3))

# menggunnakan operator union (|)
print('menggunakan operator | : {}'.format(dict(d1.items() | d2.items())))

menggunakan operator + : {'a': 1, 'b': 9999, 'c': 3}
menggunakan operator | : {'c': 3, 'b': 9999, 'a': 1}

perbedaan menggunakan operator plus dan union terletak pada urutan outputnya